@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// font-family: "Roboto", serif;

// .ServicesSection{
//   background-color: #f5f5f5;
// }

.headerOfServices {
  display: flex;
  justify-content: space-around;
}

.explore {
  display: flex;
  flex-direction: column-reverse;
  .routelinkEX {
    background-color: #3366ff;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

  }
  .routelinkEX:hover{
    color: blue;
  }
}

.OurServices {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.OurServices > h2 {
  height: 24px;
  font-style: bold;
  font-size: 1.5rem;
  // text-align: left;
  color: #ff9140;

  // font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.15em;
  // text-align: left;
  text-transform: uppercase;
}
.OurServices > h3 {
  font-family: "Plus Jakarta Sans";
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 62.6px;
  letter-spacing: -0.04em;
  color: #142349;

  span {
    display: block;
    color: #3366ff;
    font-family: "Source Serif Pro";
    font-family: "Source Serif Pro";
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 62.6px;
    letter-spacing: -0.04em;
  }
}

.card {
  border-radius: 25px !important;
  overflow: hidden;
  h5 {
    font-size: 1.8rem;
  }
}

.routelinkS{
    font-size: 1.2rem;
    text-decoration: none;

}


.faArrowRight{
    padding-left: 5px;
}

@media (min-width: 100px) and (max-width: 767px) {
    .headerOfServices{
        flex-wrap: wrap;
        height: auto;
        margin-top: 150px;
        margin-bottom: 50px;
    }
}



//   @media (min-width: 768px) and (max-width: 1024px) {
  .cardss{
    padding-top: 30px;
    gap: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}