.booking-container-all {
  //   margin-top: 30px;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}
.bookingContent {
  order: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.bookingForm {
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 20px;
}

.inputSell {
  flex-grow: 1;
  flex-shrink: 1;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 3px;
  input,
  select,
  textarea {
    padding: 0.8rem 1rem;
    border-radius: 16px;
    // border: rgb(107, 114, 128) 1px solid;
    border: none;
    color: rgb(55, 65, 81);
  }

  label {
    // padding-left: 15px;
    font-weight: 750;
    color: rgb(107, 114, 128);
  }
}
.textarea {
  width: 100%;
}

#bookingTitle {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.map {
  order: 2;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .location {
    border-radius: 25px;
    height: 50%;
  }
  .clinicHours {
    padding: 30px;
    height: 50%;
    background-color: #1e41ff;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .aline {
      width: 90%;
      align-self: center;
      height: 1px;
      background-color: #3958ff;
    }
    .session {
      display: flex;
      justify-content: space-between;
    }
  }
}
.clinicHours > div,#Hours{
  width: 90%;
}

@media (max-width: 900px) {
  .bookingContent{
    width: 100%;;
  }
  .map{
    width: 100%;
  }
  .booking-container-all{
    gap: 20px;
  }
}