nav {
  // background-color: rgb(0, 51, 102);
  background-color: rgb(35 41 165);
  color: white;
  // background-color: rgb(135, 206, 235);
  // color: rgb(0, 51, 102); 
  height: 62px;
  position: sticky;
  right: 0;
  top: 0;
  display: flex !important;
  justify-content: space-around !important;
}

