* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(35, 41, 165); /* Navy Blue */
  color: white;
  height: 62px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  // remove the padding in responsive

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo .toothLogo{
  font-size: 2rem;
}

.logo p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

nav {
  flex-grow: 1; /* Allow the nav to take remaining space */
  display: flex;
  justify-content: flex-end; /* Push the nav items to the right */
  
}

nav ul {
  display: flex; /* Ensures the items are on the same line */
  align-items: center; /* Align vertically */
  gap: 30px; /* Adjust spacing between links */
  list-style: none;
  margin: 0;
}

nav li {
  width: auto; /* Adjust width to fit content */
}

.routelink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.routelink:hover {
  color: blue;
}




// responsive reference

// @media screen and (min-width: 100px) {
//   /* font at xs */
//   html {
//     font-size: 10px !important;
//   }
// }

// @media screen and (min-width: 768px) {
//   /* font at sm */
//   html {
//     font-size: 12px !important;
//   }
// }

// @media screen and (min-width: 991px) {
//   /* font at md */
//   html {
//     font-size: 14px !important;
//   }
// }

// @media screen and (min-width: 1200px) {
//   /* font at lg */
//   html {
//     font-size: 16px !important;
//   }
// }
