* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  z-index: 1000000000;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 41, 165);
  position: relative;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: white;
  }
}

.active{
  padding: 8px 18px;
  background-color: blue;
  border-radius: 20px;
}

.logo .toothLogo {
  font-size: 2rem;
  color: white;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li .routelink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: blue;
  }
}

.checkbtn {
  color: white;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #2c3e50;
    gap: 30px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  nav ul.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  nav ul li {
    font-weight: 900;
    font-size: 1.6rem;
    padding: 20px;
  }

  nav ul li .routelink {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
