*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{


    h1{
        color: white;
        font-size: 2.2rem;
    }
    h2{
        font-size: 2rem;
        color: white;
    }
}

.social-icons a{
    font-size: 2rem;
    color: #9ea4b4;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px;
    text-decoration: none;

}
.routelinkk, a.email{
    display: block;
    color: #9ea4b4 !important;
    text-decoration: none;
}

.footer{
    color: #9ea4b4;
    margin: 40px;
    border-radius: 25px;
    background-color: rgb(12 31 66);
}

.copyRights{
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}


.dental-info{
    width: 280px;
}

.pages , .footerRoute{
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pages{
    gap: 8px;
}


.contact-info{
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mail{
    display: flex;
    gap: 8px;
    align-items: center;
    p{
        margin: 0;
        padding: 0;
    }
}

.clinic-hours{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 50px;
}
.clinic-hours-content{
    display: flex;
    justify-content: space-between;
}

.lineFoot{
    width: 95%;
    justify-self: center;
    padding: 0 50px;
    height: 3px;
    background-color: #192d47;
}




@media (max-width: 767px) {
    .footTop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 15px;
    }
    .footer{
        margin: 25px;
        border-radius: 25px;
    }
    
}
@media screen and (max-width: 356px) {
    .footerRoute{
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: row;
        .routelinkk{

            width: 47%;
        }
    }

}
